__pycache__/
*.py[codz]
*$py.class
*.so

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

*.pt
*.pth
*.weights.h5
*.keras
weights/
checkpoints/

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
cover/

.env
.venv
env/
venv/
ENV/

.idea/
.vscode/
.ruff_cache/
.mypy_cache/
.ipynb_checkpoints

.DS_Store
Thumbs.db
